/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

html {
  overflow-y: auto !important;
}

.basic-anchor {
  color: #cc2396 !important;
}

body {
  background: rgb(119, 15, 205);
}

.__background {
  background: rgb(25, 15, 205);
  background: linear-gradient(25deg, rgba(25, 15, 205, 1) 0%, rgba(103, 51, 234, 1) 55%, rgb(190, 57, 192) 100%);

  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.v-app-bar.v-toolbar {
  background: transparent;
}

.v-theme--light {
  --v-theme-background: transparent;
}

.v-overlay__content {
  background: #583892;
  border: 3px solid white;
  border-radius: 20px;
}

.v-card {
  background: transparent;
}
